[submodule "frontend"]
	path = frontend
	url = https://github.com/koreanwglasses/concord-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/koreanwglasses/concord-backend.git
